/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root, app-explorer { display: block; height: 100%; }
